<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Area de cuadrados</title>
</head>
<body>
  <h1>¿Cuanto mide un lado de tu cuadrado?</h1>
  <form action="/area/cuadrado" method="post">
  	<input type="text" name="area">
  	<input type="submit" value="calcular">
  </form>
 </body>
</html>